<nav>
  <ul>
    <li><a routerLink="/">inicio</a></li>
    <li><a routerLink="/blog-post" >Blog</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</nav>
<p>Universe, el titulo es {{ title }}</p>
<user-component (greet)="reciveEmision($event)" [occupation]="userOccupation"></user-component>
<p>{{ mensajeAlPadre }}</p>

<section>
  <h1>Comentarios</h1>
  <!-- @defer este se ejecutara primero y despues se cargarara @loading este hace la funcion de scroll infinito al llegar a el en 5 segundos aparecera los de los segundos es opcional -->
  @defer (on viewport){
    <app-comments />
  } @placeholder {
    <p>Futuros comentarios han sido cargados</p>
  } @loading (minimum 5s){
    <p>Cargando comentarios.....</p>
  }
</section>

<!-- OPTIMIZACION DE IMAGEN - ngOnOptimizedImage  -->
<!-- contenido estaticoes :  <img ngSrc="" alt="">-->
<!-- contenido dinamico: <img [ngSrc]="" alt="">  es decir que puede cambiar -->
<img src="/assets/images/logo.jpg" alt="" width="500px" height="350px">
<router-outlet></router-outlet>
